on:
  push:
    branches: [main]
  pull_request:
name: cargo deny
jobs:
  check:
    runs-on: ubuntu-latest
    name: cargo deny
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/checkout@v6
      - run: cargo install cargo-deny
      - run: cargo deny check
