on:
  push:
    branches: [main]
  pull_request:
name: lint
jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint ${{ matrix.toolchain }}
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, beta, nightly]
    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt, clippy
      - uses: actions/checkout@v6
      - run: cargo clippy
      - run: cargo fmt --check
        if: always()
