on:
  push:
    branches: [main]
  pull_request:
name: cargo test
jobs:
  test:
    runs-on: ubuntu-latest
    name: test ${{ matrix.toolchain }}
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, beta, nightly]
    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - uses: actions/checkout@v6
      - run: cargo test --features skip-test-main -- --show-output
